{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    {% bootstrap_css %} <!-- Carrega o css -->
</head>
<body>
    <div class="container">
        <h1>Produto</h1>
        <!-- {% bootstrap_messages %} -->

        <form action="{% url 'produto' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data"> <!--enctype é utilizado para forms com upload de arquivo-->
            {% csrf_token %}
            {% bootstrap_form form %} <!-- Aplicando o css no formulário que foi passado no contexto -->
            {% buttons %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            {% endbuttons %}
        </form>
    </div>
    {% bootstrap_javascript jquery='full' %} <!-- Carrega o js e o jquery -->
</body>
</html>